<form method="post" action="/manager/edit_exhibit/<%= @exhibit_info.id %>">

  <label for="artist_id">Select an artist</label>
  <select name="artist_id" id="artist_id">
    <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>

  <label for="exhibit_name">Exhibits's Name:</label>
  <input
  type="text"
  name="exhibit_name"
  id="exhibit_name"
  value="<%= @exhibit_info.exhibit_name %>"
  />

  <label for="type">Type:</label>
  <input
  type="text"
  name="type"
  id="type"
  value="<%= @exhibit_info.type %>"
  />

  <label for="year">Year:</label>
  <input
  type="text"
  name="year"
  id="year"
  value="<%= @exhibit_info.year %>"
  />

  <input type="submit" value="Edit Exhibit">
</form>
